        body {
            font-family: verdana, sans-serif;
            font-size: 100%;
            background-color: #d5d4d9;
            margin: 0 5%;
            font-family: sans-serif;
            background-image: url(Pictures/Light_Triangles.jpg);
            background-position: center top;
            padding-bottom: 100px;
        }

        h1 {
            font-family: "Marko One", Georgia, serif;
            font-size: 2em;
            color: black;
            text-align: center;
            font-weight: normal;
            text-transform: uppercase;
            border-bottom: 1px solid#a9a9a9;
            margin-top: 30px;
            }
        h2 {
            font-family: "Marko One", Georgia, serif;
            font-size: 1.5em;
            color: black;
            text-align: center;
        }    
        h3 {
            font-family: "Marko One", Georgia, serif;
            font-size: 1.25em;
            color: black;
            margin-top: 0px;
            text-align: center;
        }
        h4 {
            text-align: center;
            font-size: 1.15em;
            color: black;
            font-family: "Marko One", Georgia, Serif;;
        }
        dt { font-weight: bold; }
        strong { 
            font-style: italic;
            }

        
        li{
            display: inline;
        }
        ul{
            color: maroon;
            font-family: "Marko One", Georgia, Serif;;

        }
        button{
            font-weight: bold;
            font-family: Georgia, serif;
            color: maroon;
            cursor: pointer;

        }
        nav{
            text-align: center;
            margin-top: 0;
        }
        #banner img{
            display: block;
            margin: 0 auto;
            width: 30em;
            height: 30em;
        }
 
          p{
              color: rgb(66, 0, 0);
              font-family: "Marko One", Georgia, serif;
              font-size: 1em;
              text-align: center;
          }
          footer {
              font-size: .8em;
              font-style: italic;
              color: black;
              margin-top: 10em;
          }
          .column {
            float: left;
            width: 33.33%;
          }
          .row:after {
              content: "";
              display: table;
              clear: both;
          }
          table {
            font-family: "Marko One", Georgia, serif;
            background-color: #dddddd;
            border-collapse: collapse;
            width: 90%;
            border: .2em solid black;
          }
          
          td, th {
            border: 1px solid #a7a7a7;
            text-align: left;
            padding: 8px;
          }


